* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #242424;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

* a {
    display: inline-block;
    text-decoration: none;
    /* background-color: rgb(223, 223, 100); */
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: visible;
    padding: 10px;
    margin: 2px;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.nav-items {
    /* background-color: red; */
    height: 70px;
    display: flex;
    /* box-shadow: 2px 2px 5px rgba(216, 216, 219, 0.5); */
}

.nav-items li {
    position: relative;
}

.drop-down {
    display: none;
    position: absolute;
    top: 45px;
}

.drop-down > li {
    position: relative;
    background-color: rgb(83, 218, 83);
    width: 190px;
    padding: 5px;
    margin: 1px;
    font-size: 0.8rem;
}

.sub-menu {
    display: none;
    /* background-color: blue; */
    /* background-color: rgb(83, 218, 83); */
   position: absolute;
   left: 191px; 
   top: 1px; 
}

.sub-menu > li {
    position: relative;
    background-color: rgb(247, 81, 21);
    width: 190px;
    padding: 5px;
    margin: 1px;
    
    
}

.nav-items li:hover .drop-down {
    display: block;
}

.drop-down li:hover .sub-menu {
    display: block;
}

.nav-items {
    margin-left: 20px;
}