* {
    margin: 0;
    padding: 0;
}

#my_body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    width:55% ;
    background:#f802a6 ;
    height: 55%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    text-align: center; */
}

h1 {
    text-align: center;
    align-items: center;
        font-family: Arial, Helvetica, sans-serifS;
        color: white;
}
button {
    width: 100;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 13px;
    background-color:#f58608 ;
    color: white;

}
button:focus {
    outline: none;
    transform: scale(1.04);
    background-color:  #1E201E;
    color:black;
}
button:hover {
    cursor: pointer;
}