* {
    margin: 0px;
    padding: 0px;
}
 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    
    
}
.container {
    /* box-sizing: border-box; */
    height: 250px;
    width: 250px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.myText {
    margin: 2px;
    height: 25px;
    width: 240px;
}

.myNumber {
    margin: 2px;
    height: 25px;
    width: 240px;
}

.mybtn {
    margin: 2px;
    height: 25px;
    width: 240px;
}